/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


 @use "sass:color";

 $red-color:           #FF3636 !default;
 $red-color-dark:      #B71C1C !default;
 $orange-color:        #F29105 !default;
 $orange-color-dark:   #FF6e1e !default;
 $blue-color:          #0076df !default;
 $blue-color-dark:     #00369f !default;
 $cyan-color:          #2698BA !default;
 
 $light-cyan-color: color.adjust($cyan-color, $lightness: 25%);

 $purple-color: #B509AC !default;
 $light-purple-color: color.adjust($purple-color, $lightness: 25%);

 $grey-color:       #828282 !default;
 $grey-color-light: color.adjust($grey-color, $lightness: 40%);
 $grey-color-dark:  #1C1C1D;
 $grey-color-text:  rgba(31,37,38,.75);

 $white-color:      #fff;
 $black-color:      #000;

 $code-bg-color-light: rgba($purple-color, 0.05);
 $code-bg-color-dark:  #2c3237 !default;

 $max-content-width: 1200px !default;

 



 
